@import url('https://fonts.googleapis.com/css?family=Lato');

/* HTML */

body {
    font-family: 'Lato';
}

article {
    padding: 1em;
}

/* Content */

#panel {
    border-right: 1px solid rgb(233, 230, 230);
    padding: 0.5em 0.75em;
}

#panel div {
    padding: 0.6em 0.5em;
    border-radius: 5px;
}

#panel div:hover {
    background: #f1f3f5;
}

.styled-button {
    padding: 0.5em 0.75em;
    color: white;
    background: #0e65c9;
}

.styled-button:hover {
    background: #3e7ec7;
}

/* Provisional */

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0.5em;
    border-top: 1px solid rgb(184, 184, 184);
}