/* HTML */

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

nav {
    padding: 0.2em 0.9em 0.2em 0.4em;
    border-bottom: 1px solid rgb(233, 230, 230);
}

/* Content */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.full {
    width: 100%;
}

.button {
    cursor: pointer;
}

.mobile {
    display: none;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

.border-box {
    box-sizing: border-box;
}

.border {
    border: 1px solid rgb(184, 184, 184);;
}

/* Justify/Align */

.align-center {
    align-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
    justify-items: center;
}

.space-between {
    justify-content: space-between;
}

.link {
    text-decoration: inherit;
    color: inherit;
}

/* Border Radius */

.radius-6px {
    border-radius: 6px;
}

.radius-10px {
    border-radius: 10px;
}

/* Padding */

.padding-1em {
    padding: 1em;
}

/* Text */

.title {
    font-size: 1.8319rem;
}

.strong {
    font-weight: bold;
}

/* Colors */

.white {
    color: white;
}

/* Background Color */

.background-gray {
    background: #eaeded;
}

.background-gray-dark {
    background: rgb(80, 80, 80);
}